<!DOCTYPE html>
<html>
  <head>
    <title>Todoist</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet/less" href="/less/common.less">
    <link rel="stylesheet/less" href="/less/page/<%=pageName%>.less">
    <script type="text/javascript" src="/bower_components/less/dist/less.min.js"></script>
  </head>
  <body>
    <div id="content" class="login_singup_form">
      <div class="content">
        <form id="login_form" method="post" action="/login">
          <input type="hidden" name="csrf" value="f2cbbb3526484e17bfa73feb1a83029c">
          <dl>
            <dt>电子邮件</dt>
            <dd>
              <input type="email" name="email" class="input" id="email" tabindex="1"
              value="">
            </dd>
            <dt>密码</dt>
            <dd>
              <input type="password" name="password" class="input" tabindex="2" id="password">
            </dd>
            <dd class="submit">
              <a href="javascript:;" class="amibutton amibutton_red sel_login" tabindex="3" id="submit_button">
                登录
              </a>
              <div class="separator separator_login_page">
              </div>
              <span class="desc">
                <a href="/Users/forgotPassword" tabindex="4" onclick="track('Login', 'ForgotPassword'); return window.GB_show &amp;&amp; GB_show(_('Forgot your password?'), this.href, 200, 450) || true">
                  忘记密码？
                </a>
                <div style="padding-top: 8px">
                  需要更多的帮助？
                  <a href="https://support.todoist.com" target="_blank">
                    联系Todoist技术支持
                  </a>
                </div>
                <div style="padding-top: 8px">
                  还没有账户？
                  <a href="/Users/showRegister?success_page=">
                    <span>花几秒钟时间注册</span>
                  </a>
                </div>
              </span>
            </dd>
          </dl>
        </form>
      </div>
    </div>
    <script src="/js/page/login.js"></script>
  </body>
</html>