<!DOCTYPE html>
<html>
<head>
  <title>Todoist</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet/less" href="/less/common.less">
  <link rel="stylesheet/less" href="/less/page/<%=pageName%>.less">
  <script type="text/javascript" src="/bower_components/less/dist/less.min.js"></script>
</head>
<body>
  <div id="content" class="login_singup_form">
    <div class="content">
      <form id="sign_up_form" action="/v1/api/users" method="post" autocomplete="off">
        <input type="hidden" name="csrf" value="f2cbbb3526484e17bfa73feb1a83029c">
        <dl>
          <dt>您的名字</dt>
          <dd>
            <input type="text" name="name" id="name" class="input" value=""></dd>
          <dt>电子邮件</dt>
          <dd>
            <input type="email" name="email" class="input" id="email" value="" autocomplete="off"></dd>
          <dt>密码</dt>
          <dd>
            <input type="password" id="password" name="password" class="input" value="" autocomplete="off"></dd>
          <dt>
            <a href="javascript:;" class="amibutton amibutton_red" id="submit_button">
              <span>建立我的账户</span>
            </a>
            <span id="indicator" style="padding-left: 8px; display: none;">
              <div class="spinner spinner--small">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </span>
          </dt>
        </dl>
      </form>
    </div>
  </div>
  <script src="/js/page/register.js"></script>
</body>
</html>