<div class="day_holder">
  <div>
    <h2 class="section_header overdue">
      <a href="#">45天以前</a>
      <span class="h2_date">星期四 9月8日</span>
    </h2>
  </div>
  <ul class="items day_list">
    <li class="agenda_item reorder_item" style="font-size: 0px; height: 0px; padding: 0px;"></li>
    <li class="task_item item_106230820 menu_clickable priority_4 agenda_item indent_1" id="item_106230820">
      <div class="invisible_space"></div>
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="checker sel_checkbox_td">
              <div class="amicheckbox">
                <img src="/img/img_placeholder.gif" width="17" height="17" class="cmp_12_checkbox_off amicheckbox_img"></div>
            </td>
            <td class="text_cursor content task_content_item">
              <span class="text sel_item_content">
                1t
                <span class="clickable note_icon" data-note-type="item_note" data-note-parent-id="106230820">
                  <img src="/img/img_placeholder.gif" width="15" height="14" class="cmp_comment clickable sel_item_notes">
                  <span class="clickable note_count sel_note_count">1</span>
                </span>
                <div></div>
              </span>
            </td>
            <td class="project task_content_item">
              <span class="clickable project_item">
                <span class="pname">P2P项目</span>
                <span class="agenda_project_color" style="background-color: rgb(204, 204, 204); color: rgb(204, 204, 204);"></span>
              </span>
            </td>
            <td class="assign_user task_content_item">
              <img src="/img/avatar.jpg" class="user_avatar small assign_icon"></td>
            <td class="menu">
              <div class="icon menu cmp_menu_on gear_menu"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
    <li class="task_item item_106227977 menu_clickable priority_4 agenda_item indent_1" id="item_106227977">
      <% include ../blocks/drap_and_drop.html %>
      <div class="arrow">
        <img src="/img/img_placeholder.gif" width="10" height="10" class="cmp_open_arrow_right"></div>
      <div class="invisible_space"></div>
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="checker sel_checkbox_td">
              <div class="amicheckbox">
                <img src="/img/img_placeholder.gif" width="17" height="17" class="cmp_12_checkbox_off amicheckbox_img"></div>
            </td>
            <td class="text_cursor content task_content_item">
              <span class="text sel_item_content">
                todolist
                <span class="clickable note_icon note_icon_hidden" data-note-type="item_note" data-note-parent-id="106227977">
                  <img src="/img/img_placeholder.gif" width="15" height="14" class="cmp_comment clickable sel_item_notes"></span>
                <div></div>
              </span>
            </td>
            <td class="project task_content_item">
              <img src="/img/img_placeholder.gif" width="12" height="11" class="cmp_recurring">
              <span class="clickable project_item">
                <span class="pname">P2P项目</span>
                <span class="agenda_project_color" style="background-color: rgb(204, 204, 204); color: rgb(204, 204, 204);"></span>
              </span>
            </td>
            <td class="assign_user task_content_item">
              <img src="/img/avatar.jpg" class="user_avatar small assign_icon"></td>
            <td class="menu">
              <div class="icon menu cmp_menu_on gear_menu"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
    <% include ../blocks/add_task.html %>
  </ul>
</div>