<div id="list_holder">
  <div id="top_section">
    <ul id="top_filters">
      <li class="filter" id="filter_inbox">
        <img src="/img/img_placeholder.gif" width="20" height="18" class="cmp_filter_inbox">
        收件箱
        <span class="counter">3</span>
      </li>
      <li class="filter" id="filter_team_inbox" style="display: none;">
        <img src="/img/img_placeholder.gif" width="20" height="18" class="cmp_filter_team_inbox">      
        团队收件箱
        <span class="counter"></span>
      </li>
      <li class="filter">
        <img src="/img/img_placeholder.gif" width="20" height="18" class="cmp_filter_today">      
        今天
        <span class="counter overdue_color">4</span>
      </li>
      <li class="filter">
        <img src="/img/img_placeholder.gif" width="20" height="18" class="cmp_filter_days">      
        接下来7天
        <span class="counter">4</span>
      </li>
    </ul>
    <div id="left_menu_tabs" class="show_projects" style="display: none;">
      <table>
        <tbody>
          <tr>
            <td class="control projects sel_projects" width="33%">项目</td>
            <td class="control labels" width="33%">标签</td>
            <td class="control filters" width="33%">过滤器</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="project_list_holder">
    <ul id="project_list" class="items generic_left_list" style="display: none;">
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space"></div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project-shared" id="project_color_179807416" style="color: rgb(204, 204, 204);"></div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div>
              </td>
              <td class="name">
                <span>P2P项目</span>
                <div class="counter_count" id="project_count_179807416">6</div>
              </td>
              <td class="menu">
                <div class="icon menu cmp_menu_on gear_menu"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space"></div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project" id="project_color_179807417" style="color: rgb(251, 136, 110);"></div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div>
              </td>
              <td class="name">
                <span>个人</span>
                <div class="counter_count" id="project_count_179807417">4</div>
              </td>
              <td class="menu">
                <div class="icon menu cmp_menu_on gear_menu"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space"></div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project" id="project_color_179807418" style="color: rgb(204, 204, 204);"></div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div>
              </td>
              <td class="name">
                <span>购物</span>
                <div class="counter_count" id="project_count_179807418"></div>
              </td>
              <td class="menu">
                <div class="icon menu cmp_menu_on gear_menu"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space"></div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project" id="project_color_179807419" style="color: rgb(168, 200, 228);"></div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div>
              </td>
              <td class="name">
                <span>工作</span>
                <div class="counter_count" id="project_count_179807419"></div>
              </td>
              <td class="menu">
                <div class="icon menu cmp_menu_on gear_menu"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space"></div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project" id="project_color_179807420" style="color: rgb(116, 232, 211);"></div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div>
              </td>
              <td class="name">
                <span>杂项</span>
                <div class="counter_count" id="project_count_179807420"></div>
              </td>
              <td class="menu">
                <div class="icon menu cmp_menu_on gear_menu"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space"></div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project" id="project_color_179807421" style="color: rgb(226, 168, 228);"></div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div>
              </td>
              <td class="name">
                <span>要看的电影</span>
                <div class="counter_count" id="project_count_179807421"></div>
              </td>
              <td class="menu">
                <div class="icon menu cmp_menu_on gear_menu"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <div id="project_list_man" class="left_list_man_holder" style="display: none;">
      <div class="left_list_man actions">
        <a href="" class="action sel_add_project">
          <span class="icon icon-add"></span>
          添加项目
        </a>
      </div>
      <div class="controller actions his_ctrl" id="projects_archived_holder" style="display: none;">
        <ul id="projects_archived_ul" class="items generic_left_list"></ul>
        <a href="#" id="archived_link">存档项目</a>
      </div>
    </div>
  </div>

  <div id="labels_list_holder" style="display: none;">
    <ul id="labels_list" class="items generic_left_list"></ul>
    <div id="labels_list_man" class="left_list_man_holder">
      <div class="left_list_man actions">
        <a href="" class="action sel_add_project">
          <span class="icon icon-add"></span>
          添加标签
        </a>
      </div>
    </div>
  </div>

  <div id="filters_list_holder" style="display: none;">
    <ul id="filters_list" class="items generic_left_list"></ul>
    <div id="filters_list_man" class="left_list_man_holder">
      <div class="left_list_man actions">
        <a href="" class="action sel_add_project">
          <span class="icon icon-add"></span>
          添加过滤器
        </a>
      </div>
    </div>
  </div>
</div>